<ion-header>

    <ion-navbar class="borde">
        <ion-row>
            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>
                <div class="AdminEvento">Reservaciones en curso</div>
                <div class="sucursal">Sucursal</div>
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>

<ion-content>

    <br><br><br><br>
    <!-- <ion-searchbar [animated]="true" (ionInput)="getItems($event)"></ion-searchbar> -->

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <ion-card class="descripcion">
                <br>
                <ion-list *ngIf="reservaciones.length != 0">
                    <ion-item *ngFor="let reservacion of reservaciones" class="descripcion" no-lines>
                        
                        <ion-row>
                            <ion-col col-3>
                                <div *ngFor="let event of infoEvento">
                                    <div *ngIf="event.uid == reservacion.idevento">
                                        <img [src]="event.img" class="imgEvent">
                                        <p class="tituloE">{{event.titulo}}</p>
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col col-1>
                                <img src="./assets/content/line3.png" class="imgL" alt="">
                            </ion-col>
                            <ion-col col-6>
                                <ng-container *ngFor="let cliente of clientes">
                                    <h2 *ngIf="cliente.uid == reservacion.idUsuario">{{ cliente.displayName }} </h2>
                                </ng-container>
                                <p class="fechaR">Fecha {{ reservacion.fechaR}} </p>
                                <button ion-button class="btnDetalle" round (click)="goDetalle(reservacion.idReservacion)">
                                    Detalle
                                </button>
                            </ion-col>
                            <ion-col col-2>
                                <p class="hora">{{ reservacion.hora }} </p>
                                <p style="margin-top: 5px;"></p>
                                <div align="center"><img src="./assets/content/Ellipse55.png" class="imgElli" alt=""></div>
                                <p style="margin-top: 5px;"></p>
                                <!-- <p class="status">STATUS </p> -->
                                <p class="aceptado" *ngIf="reservacion.estatus == 'Pagando'">Pagada </p>
                            </ion-col>
                        </ion-row>
                        <!-- <ion-avatar item-start>
                            <img src="../assets/imgs/icons/book.png">
                        </ion-avatar>
                        <ng-container *ngFor="let cliente of clientes">
                            <h2 *ngIf="cliente.uid == reservacion.idUsuario">{{ cliente.displayName }} </h2>
                        </ng-container>
                        <p>Folio: {{ reservacion.folio}} </p>
                        <p *ngIf="reservacion.estatus == 'Pagando'"> Pagada </p>
                        <p>{{ reservacion.fechaR}} </p>
                        <ion-note item-end>{{ reservacion.hora }} </ion-note>
                        <button ion-button color="dark" round (click)="goDetalle(reservacion.idReservacion)">
                            Detalle
                        </button> -->
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    

    <div *ngIf="reservaciones.length == 0">
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div>
            <div align="center">
                <img text-center class="adv2" src="./assets/content/advertencia.png" />
            </div>
            <p class="aviso">
                Aviso
            </p>
            <p class="momento">
                Por el momento no hay reservaciones.
            </p>
        </div>
    </div>
</ion-content>