page-admin-evento-home {

    //Nuevo
    .toolbar-background {
        background-image: url('../assets/content/encabezado3.jpg')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .borde {
        margin-top: 0em;
        color: #FD9530;
    }
    
    ion-icon{
        color: #fff;
    }

    .AdminEvento {
        color: #fff;
    }

    .sucursal {
        color: #fff;
        opacity: 0.8;
    }

    .imgLi {
        width: 2px;
    }

    .lugar {
        color: #474646;
        text-transform: uppercase;
    }

    .descrip {
        color: #474646;
        opacity: 0.8;
        margin-top: -4%;
    }

    .cuadro {
        background-color: #FD9530;
        color: #fff;
        font-size: larger;
        width: 70%;
        border-radius: 15px;
        text-align: center;
        height: 25%;
        text-transform: uppercase;
    }

    .descripcion {
        background-color: #e6e5e3;
        border-radius: 15px;
        margin-top: -11%;
    }

    .crear {
        background-color: #FD9530;
        color: #fff;
        height: 35px;
    }

    ion-list .item {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eccc68+80,fefcea+80&0.05+0,0.05+100 */
        background: -moz-linear-gradient(top, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0dfefcea', endColorstr='#0dfefcea', GradientType=0);
        //   /* IE6-9 */
        color: #000;
    }
    h6 {
        color: #000;
        text-align: center;
    }
}