<ion-header>

    <ion-navbar class="borde">
        <ion-row>
            <ion-col col-1 align="center">
                <img src="./assets/content/line2.png" class="imgLi" alt="">
            </ion-col>
            <ion-col col-8>

                <div *ngIf="_sucursal?.type == 'a'">
                    <div class="AdminEvento" (click)="goPerfilSucursal(this.sucursal.uid)">
                        {{ _sucursal?.displayName }}
                    </div>
                    <div class="sucursal" (click)="goPerfilSucursal(this.sucursal.uid)"> Ver perfil</div>
                </div>

                <div *ngIf="_userEmpleado?.type == 'e' || _userEmpleado?.type == 'master' ">
                    <div class="AdminEvento" (click)="goPerfilEmpleado(_userEmpleado.uid)">
                        {{ _userEmpleado?.displayName }}
                    </div>
                    <div class="sucursal" (click)="goPerfilEmpleado(_userEmpleado.uid)"> Ver perfil</div>
                </div>

                <div class="centrart" *ngIf="_userEmpleado?.type == 'e'">
                    <!-- <h3>Bienvenido</h3> -->
                    <p>{{ _userEmpleado?.displayName }} </p>
                </div>
                <div class="centrart" *ngIf="_userEmpleado?.type == 'coordinacion'">
                    <!-- <h3>Bienvenido</h3> -->
                    <p>{{ _userEmpleado?.displayName }} </p>
                </div>
                <div class="centrart" *ngIf="_userEmpleado?.type == 'rp'">
                    <!-- <h3>Bienvenido</h3> -->
                    <p>{{ _userEmpleado?.displayName }} </p>
                </div>
                <div class="centrart" *ngIf="_userEmpleado?.type == 'capitan_mesero'">
                    <!-- <h3>Bienvenido</h3> -->
                    <p>{{ _userEmpleado?.displayName }} </p>
                </div>

                <!-- <div class="AdminEvento">{{ _cap.selectedEventoItem.titulo }}</div>
                <div class="sucursal">Sucursal</div> -->
            </ion-col>
            <ion-col>
                <div align='end'>
                    <img src="./assets/content/corona.png" style="width: 40%;" alt="">
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>

</ion-header>
<ion-content class="fondo_admin card-background-page">

    <br>

    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <img src="./assets/content/logo.png" alt="">
        </ion-col>
        <ion-col></ion-col>
    </ion-row>

    <div class="bienvenido" *ngIf="_userEmpleado?.type == 'e'">
        <h3>¡Bienvenido!</h3>
    </div>
    <div class="bienvenido" *ngIf="_userEmpleado?.type == 'coordinacion'">
        <h3>¡Bienvenido!</h3>
    </div>
    <div class="bienvenido" *ngIf="_userEmpleado?.type == 'rp'">
        <h3>¡Bienvenido!</h3>
    </div>
    <div class="bienvenido" *ngIf="_userEmpleado?.type == 'capitan_mesero'">
        <h3>¡Bienvenido!</h3>
    </div>

    <br>

    <!-- (listo) -->
    <ng-container *ngIf="_sucursal">

        <ion-row>
            <ion-col align="center">
                <ion-row>
                    <ion-col>
                        <img src="./assets/content/icono1.png" (click)="goMonitorear(menu)" class="imgRes" alt="">
                    </ion-col>
                    <ion-col>
                        <ion-card class="nombreCar" (click)="goMonitorear(menu)">
                            <p style="margin-top: -14px;">&nbsp;</p>
                            Reservaciones próximas
                        </ion-card>
                        <!-- <button ion-button class="nombreRes"> Reservaciones próximas </button> -->
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col align="center">
                <ion-row>
                    <ion-col>
                        <img src="./assets/content/icono4.png" (click)="goMonitorearCurso()" class="imgRes2" alt="">
                    </ion-col>
                    <ion-col>
                        <ion-card class="nombreCar" (click)="goMonitorearCurso()">
                            <p style="margin-top: -14px;">&nbsp;</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Reservaciones en curso
                        </ion-card>
                        <!-- <button ion-button class="nombreRes"> Reservaciones en curso </button> -->
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <br> <br> <br>

        <ion-row>
            <ion-col></ion-col>
            <ion-col align="center">
                <p style="color: #fff;">{{this.totalReservaciones2}} EN CURSO</p>
                <img src="../assets/content/curso.png">
            </ion-col>
            <ion-col></ion-col>
        </ion-row>

    </ng-container>

    <br>

    <!-- Tablero de reservaciones para los usuarios -->
    <!-- <ng-container *ngIf="_sucursal">
        <div padding>
            <ion-segment [(ngModel)]="reservaciones">
                <ion-segment-button active value="reserv">
                    Reservaciones próximas
                </ion-segment-button>
                <ion-segment-button value="encur">
                    Reservaciones en curso
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="reservaciones">
            <ion-list class="cl" *ngSwitchCase="'reserv'">
                <ion-item class="cl">
                    <button class="cl" ion-item (click)="goMonitorear(menu)">
                        <ion-thumbnail item-start>
                            <img src="../assets/imgs/icons/calendario.png">
                        </ion-thumbnail>
                        <h1>{{this.totalReservaciones}} PRÓXIMAS</h1>
                    </button>
                </ion-item>
            </ion-list>
            <ion-list class="cl" *ngSwitchCase="'encur'">
                <ion-item class="cl">
                    <button class="cl" ion-item (click)="goMonitorearCurso()">
                        <ion-thumbnail item-start>
                            <img src="../assets/imgs/icons/admin-evento.png">
                        </ion-thumbnail>
                        <h1>{{this.totalReservaciones2}} EN CURSO</h1>
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ng-container> -->


    <!-- Tablero de reservaciones para los usuarios  corrdinacion (listo)-->
    <ng-container *ngIf="_userEmpleado?.type == 'coordinacion' || _userEmpleado?.type == 'rp'">
        <ion-row>
            <ion-col align="center">
                <ion-row>
                    <ion-col>
                        <img src="./assets/content/icono1.png" (click)="goMonitorear(menu)" class="imgRes" alt="">
                    </ion-col>
                    <ion-col>
                        <ion-card class="nombreCar" (click)="goMonitorear(menu)">
                            <p style="margin-top: -14px;">&nbsp;</p>
                            Reservaciones próximas
                        </ion-card>
                        <!-- <button ion-button class="nombreRes"> Reservaciones próximas </button> -->
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col align="center">
                <ion-row>
                    <ion-col>
                        <img src="./assets/content/icono4.png" (click)="goMonitorearCurso()" class="imgRes2" alt="">
                    </ion-col>
                    <ion-col>
                        <ion-card class="nombreCar" (click)="goMonitorearCurso()">
                            <p style="margin-top: -14px;">&nbsp;</p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Reservaciones en curso
                        </ion-card>
                        <!-- <button ion-button class="nombreRes"> Reservaciones en curso </button> -->
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <br> <br> <br>

        <ion-row>
            <ion-col></ion-col>
            <ion-col align="center">
                <p style="color: #fff;">{{this.totalReservaciones2}} EN CURSO</p>
                <img src="../assets/content/curso.png">
            </ion-col>
            <ion-col></ion-col>
        </ion-row>

    </ng-container>


    <!-- Solo para el usuario master -->
    <!-- Tablero de reservaciones para los usuarios  corrdinacion-->
    <!-- <ng-container *ngIf="_userEmpleado?.type == 'coordinacion' || _userEmpleado?.type == 'rp'">
        <div padding>
            <ion-segment [(ngModel)]="reservaciones">
                <ion-segment-button active value="reserv">
                    Reservaciones próximas
                </ion-segment-button>
                <ion-segment-button value="encur">
                    Reservaciones en curso
                </ion-segment-button>
            </ion-segment>
        </div>
        <div [ngSwitch]="reservaciones">
            <ion-list class="cl" *ngSwitchCase="'reserv'">
                <ion-item class="cl">
                    <button class="cl" ion-item (click)="goMonitorear(menu)">
                        <ion-thumbnail item-start>
                            <img src="../assets/imgs/icons/calendario.png">
                        </ion-thumbnail>
                        <h1>{{this.totalReservaciones}} PRÓXIMAS</h1>
                    </button>
                </ion-item>
            </ion-list>
            <ion-list class="cl" *ngSwitchCase="'encur'">
                <ion-item class="cl">
                    <button class="cl" ion-item (click)="goMonitorearCurso()">
                        <ion-thumbnail item-start>
                            <img src="../assets/imgs/icons/admin-evento.png">
                        </ion-thumbnail>
                        <h1>{{this.totalReservaciones2}} EN CURSO</h1>
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ng-container> -->



    <!-- <ion-row>
        <ion-col>
            <img src="./assets/content/icono2.png" class="imgRes3" alt="">
        </ion-col>
        <ion-col>
            <button ion-button full class="nombreCar3" (click)="goReservacion()">Administrar reservaciones</button>
        </ion-col>
    </ion-row> -->

    <ion-grid>
        <ion-list-header class="accesoA" no-lines>
            Accesos para administrar
        </ion-list-header>
    </ion-grid>

    <br><br>
    <!-- Solo para el usuario coordinacion (listo) -->
    <!-- <div *ngIf="_userEmpleado?.type == 'coordinacion'"> -->
    <div *ngIf="_userEmpleado?.type == 'master'">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <ion-row>
                            <ion-col>
                                <img src="./assets/content/icono1.png" class="imgRes3" alt="">
                            </ion-col>
                            <ion-col>
                                <button ion-button full class="nombreCar3" (click)="goSucursal()">
                                    Sucursales registradas
                                </button>
                            </ion-col>
                        </ion-row>
                        <!-- <button class="cl" ion-item (click)="goSucursal()">
                            <ion-icon><img style="home" class="home" src="../assets/imgs/icons/sucursal.png">
                            </ion-icon>
                            <h4>Sucursales registradas</h4>
                            <h3>{{totalSucursales}}</h3>
                        </button> -->
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-row>
                            <ion-col>
                                <img src="./assets/content/icono2.png" class="imgRes3" alt="">
                            </ion-col>
                            <ion-col>
                                <button ion-button full class="nombreCar3" (click)="goListaUsuariosEmpleados('home')">
                                    Usuarios registrados
                                </button>
                            </ion-col>
                        </ion-row>
                        <!-- <button class="cl" ion-item (click)="goListaUsuariosEmpleados('home')">
                            <ion-icon><img style="home" class="home" src="../assets/imgs/icons/admin-user.png">
                            </ion-icon>
                            <h4>Usuarios registrados</h4>
                            <h3>{{totalEmpleados}}</h3>
                        </button> -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!--Termina. Solo para el usuario master -->



    <ion-grid>
        <!-- <ion-list-header class="accesoA" no-lines>
            Accesos para administrar
        </ion-list-header> -->

        <ion-row *ngIf="_sucursal?.type == 'a'">
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goUsers()">
                                Administración de usuarios</button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goUsers()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-user.png"> </ion-icon>
                        <h4>Administración de usuarios</h4>
                    </button> -->
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goCarta()">
                                Administrar carta móvil</button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goCarta()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-carta.png"> </ion-icon>
                        <h4>Administrar carta móvil</h4>
                    </button> -->
                </div>
            </ion-col>
        </ion-row>
        <!--ACESSOS PARA USUARIO RP (listo)-->

        <ion-row *ngIf="_userEmpleado?.type == 'rp'">
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goUsers()">
                                Administración de usuarios
                            </button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goUsers()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-user.png"> </ion-icon>
                        <h4>Administración de usuarios</h4>
                    </button> -->
                </div>
            </ion-col>
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goCarta()">
                                Administrar carta móvil
                            </button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goCarta()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-carta.png"> </ion-icon>
                        <h4>Administrar carta móvil</h4>
                    </button> -->
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="_sucursal?.type == 'a'">
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goEventos()">
                                Administración de usuarios
                            </button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goEventos()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-evento.png"> </ion-icon>
                        <h4>Administrar eventos </h4>
                    </button> -->
                </div>
            </ion-col>
            <!--<ion-col>
                <div>
                    <button class="cl" ion-item (click)="goUsuarioHis()">
                          <ion-icon><img class="home" src="../assets/imgs/icons/admin-historial.png"> </ion-icon>
                         <h4>Historial de usuarios </h4>
                    </button>
                </div>
            </ion-col>-->
        </ion-row>
        <!--ACCESOS USUARIO COORDINACION (listo)-->
        <ion-row *ngIf="_userEmpleado?.type == 'coordinacion'">
            <ion-row>
                <ion-col></ion-col>
                <ion-col align="center">
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar2" (click)="goEventos()">Administrar
                                eventos</button>
                            <!-- <ion-card class="nombreCar2" (click)="goEventos()">
                                <p style="margin-top: -12px">&nbsp;</p>
                                Administrar eventos 
                            </ion-card> -->
                            <!-- <button ion-button class="nombreRes"> Reservaciones próximas </button> -->
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <!-- <ion-col>
                <div>
                    <button class="cl" ion-item (click)="goEventos()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/admin-evento.png"> </ion-icon>
                        <h4>Administrar eventos </h4>
                    </button>
                </div>
            </ion-col> -->
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono2.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goReservacion()">Administrar
                                reservaciones</button>
                        </ion-col>
                    </ion-row>

                    <!-- <button class="cl" ion-item (click)="goReservacion()">
                        <ion-icon><img class="home" src="../assets/imgs/icons/corona.png"> </ion-icon>
                        <h4>Administrar reservaciones</h4>
                    </button> -->
                </div>
            </ion-col>
            <ion-col *ngIf="_sucursal?.type == 'a'">
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" href="https://guestreservation-8b24b.web.app">
                                Administrar croquis
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
                <!-- <div>
                    <a href="https://guestreservation-8b24b.web.app" target="_blank">
                        <button class="cl" ion-item>
                            <ion-icon><img class="home" src="../assets/imgs/icons/corona.png"> </ion-icon>
                            <h4>Administrar croquis</h4>
                        </button>
                    </a>
                </div> -->
            </ion-col>
            <!--ACESSOS PARA USUARIO RP-->
            <ion-col *ngIf="_userEmpleado?.type == 'rp'">
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" href="https://guestreservation-8b24b.web.app">
                                Administrar croquis
                            </button>
                        </ion-col>
                    </ion-row>
                </div>
                <!-- <div>
                    <a href="https://guestreservation-8b24b.web.app" target="_blank">
                        <button class="cl" ion-item>
                            <ion-icon><img class="home" src="../assets/imgs/icons/corona.png"> </ion-icon>
                            <h4>Administrar croquis</h4>
                        </button>
                    </a>
                </div> -->
            </ion-col>
            <!-- <ion-col>
                    <div>
                        <button class="atras" ion-item (click)="goUsuarioHis()" icon-start>
                              <ion-icon item-start><img class="home" src="../assets/imgs/icons/admin-historial.png"> </ion-icon>
                              Historial de usuarios
                        </button>
                    </div>
                </ion-col> -->

        </ion-row>

        <ion-row *ngIf="_sucursal?.type == 'a'">
            <ion-col>
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="./assets/content/icono3.png" class="imgRes3" alt="">
                        </ion-col>
                        <ion-col>
                            <button ion-button full class="nombreCar3" (click)="goCorteHistorial(this.sucursal)">
                                Cortes {{ this.sucursal.type }}</button>
                        </ion-col>
                    </ion-row>
                    <!-- <button class="cl" ion-item (click)="goCorteHistorial(this.sucursal)">
                        <ion-icon><img class="home" src="../assets/imgs/icons/corona.png"> </ion-icon>
                        <h4>Cortes {{ this.sucursal.type }}</h4>
                    </button> -->
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <br><br><br>
    <ion-item class="atras" text-center no-lines>
        <button class="blancos" ion-button round style="min-width: 200px; padding: 10px 16px; height: 85%;"
            (click)="salir()">Cerrar
            Sesión</button>
    </ion-item>
</ion-content>