page-admin-home {

    .toolbar-background {
        background-image: url('../assets/content/encabezado3.jpg')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        // height: 75%;
    }

    .borde {
        margin-top: 0em;
    }

    .centrart {
        text-align: left;
        color: #fff;
        margin-left: -3%;
        text-transform: uppercase;
    }

    .centrar {
        text-align: center;
        color: #fff;
    }
    h2 {
        color: #ffff;
        text-align: center;
    }
    .foo {
        text-align: left;
        background-color: transparent;
        color: white;
    }

    .textoNombre31 {
        text-align: left;
        background-color: transparent;
        color: white;
        // margin-top: -12%;
        margin-left: -30%;
        text-transform: uppercase;
    }

    .textoNombre41 {
        text-align: left;
        background-color: transparent;
        color: white;
        // margin-top: -6%;
        margin-left: -30%;
        font-size: 10px;
    }

    .fondo_admin {
        background-image: url('../assets/content/cuerpo.png')!important;
    }

    .nombreRes {
        text-transform: uppercase;
        font-size: 10px;
        background-color: #FFC149;
        position: fixed;
        margin-left: -17%;
    }

    .nombreCar {
        background-color: #FFC149;
        color: #fff;
        width: 140%;
        height: 45px;
        text-align: center;
        border-radius: 15px;
        margin-left: -50%;
        margin-top: 2px;
    }

    .imgRes {
        width: 60px;
    }


    .nombreCar {
        position:absolute;
        width: 150%;
        height: 45px;
        left: -5px;
        z-index: -1;
        text-transform: uppercase;
        font-size: 14px;
    }

      
    .imgRes {
        position:absolute;
        width: 60px;
        top: 10px;
        left : 8px;
        margin-top: -7px;
        z-index: 1;
    }


    .imgRes2 {
        position:absolute;
        width: 60px;
        top: 10px;
        left : 6px;
        margin-top: -7px;
        z-index: 1;
    }

    .imgRes3 {
        position:absolute;
        width: 60px;
        top: 10px;
        left : 18px;
        margin-top: -17px;
        z-index: 1;
    }


    .bienvenido {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 7px;
    }


    .accesoA {
        color: #E1E1E1;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
    }


    .nombreCar2 {
        background-color: #FFC149;
        color: #fff;
        border-radius: 15px;
        width: 300px;
        height: 45px;
        margin-top: -10px;
        margin-left: 10%;
        text-transform: uppercase;
        font-size: 15px;
    }

    .nombreCar3 {
        background-color: #FFC149;
        color: #fff;
        border-radius: 15px;
        width: 300px;
        height: 45px;
        margin-top: -10px;
        margin-left: -10%;
        text-transform: uppercase;
        font-size: 15px;
    }

    .blancos {
        background-color: #fff;
        color: #F0A20B;
        text-transform: uppercase;
    }

    .imgLi {
        width: 3px;
    }

    .AdminEvento {
        color: #fff;
    }

    .sucursal {
        color: #fff;
        opacity: 0.8;
    }

    // background-color: #FFC149;
    // color: #fff;
    // width: 140%;
    // height: 45px;
    // text-align: center;
    // border-radius: 15px;
    // margin-left: -50%;
    // margin-top: 2px;



    .atras {
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        //color: #fff;
    }
    
    // .hea {
    //     // height: 75px;
    //     // width: 300px;
    //     // text-align: right;
    //     color: white;
    // }
    .suc {
        height: 15px;
        width: 15px;
    }
    // grids
    ion-col div {
        // background-color: #000000;
        // border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        // text-align: left;
    }
    .cl {
        border: none;
        background: #000000;
        color: #fff;
    }
    .cl2 {
        border: none;
        background: #FBCC0C;
        color: #fff;
        border-radius: 25px;
    }
    h4 {
        padding: 10px 0 0 10px !important;
        margin: 0;
    }
    .foo2 {
        text-align: left;
        background-color: transparent;
        color: white;
        margin-top: 100%;
    }
    .textoNombre {
        text-align: left;
        background-color: transparent;
        color: white;
        margin-top: -10%;
        margin-left: 12%;
    }
    .textoNombre2 {
        text-align: left;
        background-color: transparent;
        color: white;
        margin-top: -5%;
        margin-left: 12%;
    }
    .textoNombre3 {
        text-align: left;
        background-color: transparent;
        color: white;
        margin-top: -12%;
        margin-left: 12%;
    }
    .textoNombre4 {
        text-align: left;
        background-color: transparent;
        color: white;
        margin-top: -6%;
        margin-left: 12%;
    }
    .blanco{
      color: #ffffff;
      font: bold;
      font-weight: 900;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+100,f6f6f6+100,e1e1e1+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(241,241,241,0.5) 50%, rgba(225,225,225,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%,rgba(241,241,241,0.5) 50%,rgba(225,225,225,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%,rgba(241,241,241,0.5) 50%,rgba(225,225,225,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80e1e1e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;

    }
}
